*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body .divi{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.divi .links{
    padding-top: 10px;
    gap: 30px;
}
.divi .links a{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}
.divi .links .base:first-child{
    color: #00A000;
}
.divi .botao{
    display: flex;
    width:80px;
    height: 50px;
    align-items: center;
    padding-left: 25px;
    text-decoration: none;
}
.divi .logar{
    border-radius: 10px;
    border: solid 1.7px #00A000;
    padding: 10px 18px;
    background-color: white;
}
.divi .login .icon{
    padding-top: -30px;
}
.divi .login {
    display: flex;
    align-items: center;
}
.divi .login .logar .botao{
    color: #00A000;
    font-weight: bold;
}
.prato{
    display: flex;
    gap: 100px;
    justify-content: space-around;
    border-width: 3px;
    border-style: dashed;
    border-color: gray;
    margin-top: 50px;
}
.prato .marke{
    margin-left: 100px;
    margin-top: 300px;
    font-size: 38px;
}
.prato .marke .textao{
    display: flex;
    gap: 20px;
}
.prato .marke .textao .deliv:last-child{
    color: #00A000;
}
.prato .marke .textaose{
    display: flex;
    gap: 20px;
}
.prato .marke .textaose .deli:first-child{
    color: #00A000;
}
.prato .marke .textin{
    margin-top: 40px;
    width: 530px;
    font-size: 20px;
}
.prato .marke .butons{
    display: flex;
    margin-top: 30px;
    gap: 50px;
    width: 500px;
    height: 70px;
    text-decoration: none;
}
.butons .now{
    border: solid 1px #00A000;
    text-decoration: none;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 22px;
    color: white;
    background-color: #00A000;
    border-radius: 20px;
}
.butons .produc{
    border: solid 1px #00A000;
    text-decoration: none;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 22px;
    color: #00A000;
    background-color: white;
    border-radius: 20px;
}
.prato .image{
    margin-top: 250px;
}
.insta{
    background-color: #00A000;
}
.insta .information{
    display: flex;
}
.insta .information .quick{
    display: flex;
    height: 500px;
    margin-left: 100px;
    flex-direction: column;
    gap: 20px;
    background-color: #00A000;
}
.insta .information .quick .cima{
    margin-top: 100px;
    justify-content: center;
}
.insta .information .quick .baixo{
    margin-top: 30px;
}
.insta .information .bold{
    margin-top: 140px;
    margin-left: 250px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    color: white;
}
.insta .information .line1{
    margin-top: 140px;
    margin-left: 250px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    color: white;
}
.insta .information .line1 .arruma3:first-child{
    font-size: 28px;
    font-weight: bold;
}

.companys{
    display: flex;
    flex-direction: row;
}
.insta .information .line2{
    margin-top: 140px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    gap: 40px;
    color: white;
}
.insta .information .line2 .arruma:first-child{
    font-size: 28px;
    font-weight: bold;
    padding-right: 40px;
}
.insta .information .bold .arruma2:first-child{
    font-size: 28px;
    font-weight: bold;
    padding-right: 40px;
}
.insta .linha{
    background-color: white;
    display: flex;
    width: 90%;
    height: 2px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.insta .reserved{
    margin-top: 20px;
    margin-left: 45%;
    color: white;
}
.why{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
}
.why .choose .us{
    padding-left: 28%;
    font-size: 35px;
    font-weight: bolder;
}
.why .choose .grey{
    margin-top: 10px;
    font-size: 16px;
    color: gray;
}
.why .offer{
    margin-top: 50px;
    display: flex;
    gap: 120px;
}
.why .clients{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 400px;
}
.why .clients .foods{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.mais{
    font-size: 70px;
    margin-top: 20px;
}
.online .orders {
    display: flex;
    justify-content: center;
}
.happy .client {
    display: flex;
    justify-content: center;
}
.foods .available {
    display: flex;
    justify-content: center;
}
.dishes{
    margin-top: 300px;
}
.dishes .what{
    font-size: 44px;
    display: flex;
    justify-content: center;
}
.dishes .rowzao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}
.rowzao .saladon .fila .nome{
    font-size: 28px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.rowzao .saladon .fila .tentro{
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: rgb(66, 61, 61);
}
.rowzao .saladon .fila .buy{
    background-color: #00A000;
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    margin-top: 30px;
    border-radius: 10px;
    color: white;
}
.rowzao .saladone .nomo{
    font-size: 28px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.rowzao .saladone .filao .prestigio{
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: rgb(66, 61, 61);
}
.rowzao .saladone .filao .compre{
    background-color: #00A000;
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    margin-top: 30px;
    border-radius: 10px;
    color: white;
}
.your .about .us {
    font-size: 48px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.your {
    margin-top: 200px;
}
.your .about .custumer {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: rgb(66, 61, 61);;
}
.your .pessoas{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 200px;
    margin-left: 30px;
    margin-right: 30px;
}
.your .pessoas .vermelho{
    width: 250px;
    height: 400px;
}
.your .pessoas .vermelho img{
    padding-left: 50px;
}
.your .pessoas .roxo img{
    padding-left: 50px;
}
.your .pessoas .cinza img{
    padding-left: 50px;
}
.your .pessoas .roxo{
    width: 250px;
    height: 400px;
}
.your .pessoas .cinza{
    width: 250px;
    height: 400px;
}
.pessoas .jane{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.your .pessoas .exp{
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.churras {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.churras .churrasco {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 700px;
    gap: 100px;
    margin-right: 500px;
}
.churras .churrasco .textoes{
    display: flex;
    flex-direction: column;
}
.churras .churrasco .denovo{
    font-size: 38px;

}
.churras .churrasco .best{
    margin-top: 20px;
    font-size: 16px;
    width: 350px;
}
.churras .churrasco .learn{
    background-color: #00A000;
    margin-top: 20px;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}
.procura{
    display: flex;
    justify-content: center;
}
.procura .acabando{
    display: flex;
    flex-direction: column;
}
.procura .acabando .increva{
    margin-top: 10px;
    font-size: 44px;
}
.procura .acabando .finalmente{
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: grey;
}
.procura .acabando .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 100px;
}
.procura .acabando .search .acabou{
    display: flex;
    flex-direction: row;
    gap: 250px;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}
.procura .acabando .search .acabou .dentro{
    border: 1px solid #00A000;
    border-radius: 10px;
    background-color: #00A000;
    font-size: 18px;
    color: white;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}